@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ebd3f8;
  --foreground: #2e073f;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  --background: #2e073f;
  --foreground: #ebd3f8;
}
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
